header{
	width: 100%;
	height: 20em;
	display: flex;
	background: brown;
}
.left{
	flex: 1;
	height: 90%;
	border: solid 1px;
	color: orange;
	font-weight: bolder;
}
.img{
	flex: 2;
	height: 90%;
	border: solid 1px;
}
.under_img{
	float: center;
}




#Navbar{
	width: 60rem;
	height: 35rem;
	display: flex;
	flex-direction: column;
}
.NavBar{
	width: 20%;
	height: 25%;
	border: solid 2px;
	text-align: center;
	background: brown;
	display: flex; /* new */
    align-items: center;  /* new */
    justify-content: center;  /* new */
}
button{
	border: none;
	background: none;
	color: orange;
	outline: none;
}

@media screen and (max-width:500px){

}