#sixth_section{
    box-sizing: border-box;
    height: 220px;
    text-align: center;
    background: rgb(30, 101, 158);
    color: white;
    align-content: middle;
    padding: 0px 0;
}
#sixth_section h1{
    font-size: 28px;
}
#sixth_section span{
    font-size: 18px;
}
#sixth_section button{
    color: white;
    display: block;
    margin: 1em auto;
    border: none;
    background: rgb(60, 202, 171);
    border-radius: 8px;
    height: 40px;
    width: 180px;
    text-transform: uppercase;
    font-weight: bold;
}