#third_section{
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    background-color: white;
    text-align: center;
    align-content: middle;
}
#third_section h2{
    margin-top: 80px;
    font-size: 26px;
    color: #21314D;
}

#third_section table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid black;
}

#third_section th{
    color: #8C8A8C;
    font-size: 17px;
    font-weight: bold;
}

#third_section table tr td{
    color: #8C8A8C;
}
#third_section table tr td:first-child{
    border-right: 1px solid;
}
#third_section table tr:nth-of-type(3) td{
    width: 30%;
}